<head>

<link href="/css/main.css" rel="stylesheet">
<title>
Anita King's Math App	
</title>
</head>

<body>
	<div class = "body_style">
	<%=yield%>
	</div>
</body>

<footer>
<div class="footer-text">
	Anita King
	<br>	
	Charleston, WV	
	</div>
</footer>